<%%= simple_form_for [:admin, <%= resource_name %>], :html => { :class => 'form-horizontal' } do |f| %>
  <%- columns.each do |column| -%>
  	<%- if resource_instance.new.send(column.name.to_sym).respond_to? :extension_white_list -%>
  	<%- if resource_instance.new.send(column.name.to_sym).extension_white_list.map(&:downcase).any? {|ext| ["jpg", "jpeg", "png", "gif"].include? ext } -%>
  	<%%= f.input :<%= column.name %>, :as => :image_preview %>
  	<%- else -%>
	<%%= f.input :<%= column.name %>, :as => :document_preview %>
	<%- end -%>
  	<%- elsif column.type == :text -%>
    <%%= f.input :<%= column.name %>, :input_html => { :class => 'redactorbox' } %>
	<%- else -%>
    <%%= f.input :<%= column.name %> %>
	<%- end -%>
  <%- end -%>
  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to 'Cancel', admin_<%= plural_resource_name %>_path, :class => 'btn' %>
  </div>
<%% end %>
