<%%- model_class = <%= resource_name.classify %> -%>
<div class="page-header">
  <h1><%= human_resource_instances %></h1>
  <%%= link_to 'New', new_admin_<%=resource_name %>_path, :class => 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
      <tr>
        <td><%%= link_to <%= resource_name %>.id, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %></td>
        <td>
          <%%= link_to 'Edit', edit_admin_<%=resource_name %>_path(<%=resource_name %>), :class => 'btn btn-mini' %>
          <%%= link_to 'Delete',
                      admin_<%=resource_name %>_path(<%=resource_name %>),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>
<%%= paginate @<%= plural_resource_name %> %>