<div class="page-header">
  <h1><%= human_resource_instance %></h1>
</div>
<div class="form-actions">
  <%%= link_to "Back", admin_<%= plural_resource_name %>_path, :class => 'btn'  %>
  <%%= link_to "Edit", edit_admin_<%= plural_resource_name %>_path(@<%= resource_name %>), :class => 'btn' %>
  <%%= link_to 'Destroy', admin_<%= plural_resource_name %>_path(@<%= resource_name %>),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
<dl class="dl-horizontal">
  <dt><strong>ID:</strong></dt>
  <dd><%%= @<%= resource_name %>.client_name %></dd>
</dl>
